@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-image-outlay {
    background-image: linear-gradient(
        rgba(30, 40, 50, 0.75),
        rgba(30, 40, 50, 0.75)
      ),
      url("../public/egyptian_koshary_1376x774.webp");
    background-size: cover;
    background-position: center;
  }

  .specialGround {
    background-image: linear-gradient(
      rgba(217, 161, 8, 0.1),
      rgba(217, 161, 8, 0.1)
    );
  }
  .specialGround2 {
    background-image: linear-gradient(
      rgba(213, 178, 80, 0.4),
      rgba(152, 133, 79, 0.4)
    );
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }

  .load {
    margin: 110px auto 0;
    border: solid 10px #cba724;
    border-radius: 50%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    transition: all 0.5s ease-in;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .loader {
    width: 200px;
    aspect-ratio: 0.75;
    --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
    background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
    background-size: 20% 50%;
    animation: loading 1s infinite linear;
  }

  @keyframes loading {
    20% {
      background-position: 0% 0%, 50% 50%, 100% 50%;
    }
    40% {
      background-position: 0% 100%, 50% 0%, 100% 50%;
    }
    60% {
      background-position: 0% 50%, 50% 100%, 100% 0%;
    }
    80% {
      background-position: 0% 50%, 50% 50%, 100% 100%;
    }
  }
}
